nav {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: #7ab4c2;
  color: white;
}

.navbar__item {
  list-style: none;
  padding: 10px;
  border-radius: var(--size-border-radius);
  cursor: pointer;
}

.navbar__item:hover {
  border: 1px solid white;
  background-color: var(--color-blue);
}

.nav__title {
  width: 30%;
}
.nav__bar {
  width: 70%;
}

.navbar__menu {
  display: flex;
  justify-content: space-around;
}

.nav__img {
  width: 40px;
  height: 40px;
}
