nav {
  position: fixed;
  color: var(--color-dark-grey);
  font-weight: var(--weight-semi-bold);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  transition: all var(--animation-duration) ease-in;
  z-index: 10;
}

.navbar__item {
  list-style: none;
  padding: 10px;
  border-radius: var(--size-border-radius);
  cursor: pointer;
  border: 1px solid transparent;
  width: 15%;
  text-align: center;
}

.navbar__item:hover {
  border: 1px solid white;
  background-color: var(--color-blue);
}

.nav__title {
  width: 30%;
}
.nav__bar {
  width: 70%;
}

.navbar__menu {
  display: flex;
  justify-content: space-around;
}

.navbar__item.active {
  border: 1px solid white;
  background-color: var(--color-blue);
}

.nav__img {
  width: 40px;
  height: 40px;
}

.nav__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-dark-grey);
  top: 18px;
  display: none;
}

.navbar--dark {
  background-color: #7ab4c2;
}

.navbar__menu.open {
  display: flex;
}
